@page
@using CentralSecurityService.Common.Definitions
@model CentralSecurityService.Pages.ReferencesModel
@{
    ViewData["Title"] = "References";
}

@section MetaTags {
    <meta name="keywords" content="Central Security Service, CIA, NSA, MI6, SIS, MI5, GCHQ, Medical, Freemasons, In Memory, Heritage, Legacy, Societal Development">
}

<h1>References</h1>

<style>
    table, th, td {
        border: 1px solid #333;
        border-collapse: collapse;
    }

    th, td {
        padding: 6px 10px;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>Unique Reference Id</th>
            <th>Type</th>
            <th>Thumbnail</th>
            <th>Reference Name</th>
            <th>Description</th>
            <th>Categorisations</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.References != null && Model.References.Any())
        {
            foreach (var reference in Model.References)
            {
                <tr>
                    <td>@{var formatted = $"{reference.UniqueReferenceId:R000_000_000}";}@formatted</td>
                    <td>@reference.ReferenceTypeId</td>
                    <td>@if (reference.Redacted)
                        {
                            <text>(Redacted.)</text>
                        }
                        else
                        {
                            if ((reference.ReferenceTypeId == ReferenceType.VideoUrl) || (reference.ReferenceTypeId == ReferenceType.Url))
                            {
                                if (reference.ThumbnailFileName != null)
                                {
                                    <a target="_blank" href="@reference.ReferenceName"><img src="/GetReferenceFile?type=Thumbnail&referenceFile=@reference.ThumbnailFileName" alt="Thumbnail" /></a>
                                }
                            }
                            else if (reference.ReferenceTypeId == ReferenceType.Image)
                            {
                                if (reference.ThumbnailFileName != null)
                                {
                                    <a target="_blank" href="/GetReferenceFile?type=Full&referenceFile=@reference.ReferenceName"><img src="/GetReferenceFile?type=Thumbnail&referenceFile=@reference.ThumbnailFileName" alt="Thumbnail" /></a>
                                }
                            }
                        }
                    </td>
                    <td>@if (reference.Redacted)
                        {
                            <text>(Redacted.)</text>
                        }
                        else
                        {
                            if (reference.ReferenceTypeId == ReferenceType.Image)
                            {
                                <a target="_blank" href="/GetReferenceFile?type=Full&referenceFile=@reference.ReferenceName">@reference.ReferenceName</a>
                            }
                            else
                            {
                                <a target="_blank" href="@reference.ReferenceName">@reference.ReferenceName</a>
                            }
                        }
                    </td>
                    <td>@if (reference.Redacted)
                        {
                            <text>(Redacted.)</text>
                        }
                        else
                        {
                            @reference.Description
                        }
                    </td>
                    <td>@reference.Categorisations</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">No References found.</td>
            </tr>
        }
    </tbody>
</table>

<br />
